/*common start*/
body{
	font-family: 'Krub', Sans-serif;
	font-size: 16px;
	font-weight:400;
	color: #000000 !important;
;
	padding-top: 109px;

}
.c_padding{
	padding-top: 100px;
	padding-bottom: 120px;
}
/*common end*/

/*header start*/
header{
	background-color:#000000;
	padding: 20px 0;
}

.c_nav{}
.logo{}
.menu{}
.menu ul li a{
	font-size: 16px;
	font-weight: 400;
	color: #E1E1E1 !important;
	padding: 0 25px !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color:  #F868DE !important;
}

.btn_common{
	font-family: 'Krub', Sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #E1E1E1 !important;
	background-color: #F868DE !important;
	border-radius: 29px;

}
.btn_header{
	margin-left: 5px;
	width: 105px;
	height: 45px;
	padding: 12px 25px;
}
.btn_common:hover {
	background-color:#000000 !important;
}
/*header end*/
/*banner start*/
.banner{
	padding: 30px 0 150px;
	background-color: #000000 ;


}
.b_text{}
.b_p1{
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF;

	line-height: 16px;

}
.b_h1{
	margin: 10px 0 19px;
	font-family: 'Playfair Display'serif;
	font-size: 48px;
	font-weight: 700;
	color: #FFFFFF;
	line-height:62px;
}

.b_p2{
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #E1E1E1;

	line-height: 16px;
}
.b_btn{
	margin-top: 15px; 
	width: 105px;
	height: 29px;
	font-size: 10px;
	border-radius: 29px;
    background-color: #F868DE;

	padding: 5px 5px;
}
.b_img{}



.b_img img{}

.s_img{

}

.st_img{
	margin-top: -10px;
	margin-left: 200px;
}


.s1_img{
	margin-left: -40px;
	color: #E585E2 !important;

}
.b1_img{
	margin-top: -90px;
	margin-left: -20px;

}
.b2_img{
	margin-top: -180px;
	margin-left: 220px;

}
.b3_img{
	margin-top: -130px;
	margin-left: 160px;

}
.s2_img{
	margin-left: 150px;
	color: #E585E2 !important;

}

.s3_img{
	margin-top: -60px; 
	margin-left: 370px;
	

/* banner end*/

/*selling start*/}

.selling{
	padding-bottom: 100px;
	background-color: #000000;
}
.s_h1{
	font-family: 'krub' sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	color:#E1E1E1;

}
.s_pad{

}
.s_item{

    margin-top: 30px;

	padding: 25px 20px 30px;
	

}
.s_p{
    padding-right: 25px ;
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color:#E1E1E1;

}
.s_v{
	margin-top: 20px;
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #E1E1E1 !important;
   text-decoration: none;
}


/*selling end*/

/*carousal start*/
.car{

	background-color:#000000;
}
/*carousal end*/

/*about start*/
.box {
	min-height: 100px;
}
.mh-c{
	height: 60vh;
}
.hs{
	color: #E1E1E1 !important;
}
.p_a{
	margin-top: 30px;
	color: #E1E1E1 !important;
}
.btn{
margin-top: 10px;
	color: #E1E1E1 !important;
	background-color: #F868DE !important;
    border-radius: 29px;
}
.btn:hover {
	background-color:#000000 !important;
}
/*about end*/

/*bouquet start*/
.box {
	min-height: 100px;
}
.mh-b{
	height: 35vh;
}
.b_item{

}
.b_p{
	 margin-top: 15px ;
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	color:#E1E1E1;
}


/*bouquet end*/

/*order start*/
.order{

background-color: #000000;
}
.o_title{

}
.o_h1{
	margin-top: 60px;
color:#E1E1E1; 
}
.o_p{
	margin-top: 20px;
	font-family: 'krub' sans-serif;
	font-weight: 400;
	font-size: 12px;
	
	line-height: 26px;
    color:#E1E1E1;
}

.oo_title{
	margin-top: 30px;
	 color:#E1E1E1;
	 line-height: 24px;

}
/*order end*/


/*weeding start*/
.w_img{

	margin-bottom: 45px;
}
.section:hover .w_img { border:2px solid #fff; }
.b_btn{
	margin-top: 10px;
	margin-bottom: 60px;
}
/*wedding end*/

/*tulip start*/
.tulip{
	
	background-color: #000000;
}
/*tulip end*/
/*contact start*/
.contact{
	background-color: #010101;
}
.c_h1{
	font-family: 'krub' sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 26px;
	color:#E1E1E1;
}
.c_form{
	margin-top: 35px;
	margin-bottom: 30px;
}
.c_input{
	height: 45px;
	font-family: 'krub' sans-serif;
	color: #898989;
	padding: 15px 20px;
}
.l_submit{
	width: 100%;
	height: 45px;
	margin-top: 5px;
	font-family: 'krub' sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.l_submit:hover{
	background-color: #fff !important;
}

/*contact end*/

/*testimonial start*/
.ht{

	color: #E1E1E1;
}
.t_item{
	margin-bottom: 80px;
}
.t_icon li{
margin-right: 30px !important;
}
.t_icon li:last-child {
margin-right: 0 !important;
}
.t_icon li i{
font-size: 90px;
color: #F868DE;
transition: .3s;
}
.t_icon li i:hover{
	transform: scale(.8);
	color: #ffffff;
}
/*testimonial end*/

/*footer start*/


.ids{
padding-top: 15px;
    font-family: 'krub' sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	color:#E1E1E1;
}
.id p{
	margin:0;
	text-align:center;
	color:white;
}
.id p a{
		color:white;
	text-decoration: none;
}
.id p a: hover{
	
}
/*footer end*/
